fastapi==0.112.0
uvicorn==0.30.3
transformers==4.44.0
sentencepiece==0.2.0
protobuf==4.25.3
sacremoses==0.1.1
langdetect==1.0.9
pymongo==4.8.0
torch==2.4.0+cpu
passlib[bcrypt]==4.0.1
python-jose==3.3.0
langdetect==1.0.9
motor==3.5.1
--extra-index-url https://download.pytorch.org/whl/cpu
